@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-style: 100%;
    line-height: 1;
    font-style: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  html {
    scroll-behavior: smooth;
  }
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style-type: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-style: inherit;
    font-weight: 400;
  }
  /*__________________________*/
  body{
    color: white;
    font-family: "Ubuntu", sans-serif;
  }
  /* Блок 1 */
.first{
  display: flex;
  justify-content: center;
    position: relative;
    min-height: 600px;
    margin: 30px auto 0 auto;
    background-image: url("/resources/images/bg1.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 90%;
    border-radius: 15px;
}
header ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}
.block1_text{
    margin-top: 70px;
    text-align: center;
}
.tour_operator{
    font-weight: 400;
    font-size: 18px;
}
.ll_tours{
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 48px;
}
.specials{
    margin-bottom: 40px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
}

.about_us{
  box-shadow: -3px 15px 100px -30px #4bc1fb;
  position: absolute;
  bottom: -20%;
  padding: 30px;
  font-family: "DM Sans", sans-serif;
  max-width: 90%;
  margin: 0 auto;
  color: black;
  border-radius: 15px;
  background-color: white;
}
.p_about{
  margin-top: 10px;
  font-weight: 400;
  font-size: 20px;
}
.about_hr{
  margin-top: 15px;
  height: 4px;
  width: 100px;
  border: none;
  background: rgba(134, 199, 239, 1);
}
.we_ll{
  margin-top: 15px;
  font-weight: 700;
  font-size: 38px;
}
.about_text{
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
}
/* Блок 2 */
.second{
  display: flex;
  margin: 200px auto 0 auto;
  max-width: 80%;
  font-family: "DM Sans", sans-serif;
  justify-content: space-evenly;
  color: black;
}
.second_img{
  width: 50%;
  height: auto;
}
.all_tours_img{
  max-width: 100%;
  border-radius: 15px;
}
.second_text{
  padding-left: 30px;
  width: 50%;
}
.all_tours{
  font-weight: 700;
  font-size: 36px;
}
.uniqe_chance{
  margin-top: 10px;
  font-weight: 100;
  font-size: 20px;
}
.second_button{
  margin-top: 25px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: rgba(134, 199, 239, 1);
  border-radius: 15px;
  padding: 10px 20px;
  border: rgba(134, 199, 239, 1) 3px solid;
  background-color: white;
}
/* Блок 3 */
.third{
  margin-top: 90px;
  display: flex;
  justify-content: center;
  gap: 100px;
}
.academ{
  box-shadow: 12px 10px 25px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 12px 10px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 12px 10px 25px 0px rgba(0,0,0,0.75);
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 559px;
  background-image: url("/resources/images/academ.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.academ_programm{
  margin: 0 auto 20px auto;
  text-align: center;
  max-width: 80%;
  font-weight: 700;
  font-size: 40px;
}
.for_russian{
  margin: 0px auto 20px auto;
  text-align: center;
  max-width: 80%;
  font-weight: 100;
  font-size: 16px;
}
.academ_button{
  padding: 15px;
  margin: 0 auto 70px auto;
  text-align: center;
  max-width: 30%;
  border-radius: 10px;
  color: rgba(17, 34, 17, 1);
  background-color: rgba(134, 199, 239, 1);
  font-weight: 700;
  font-size: 14px;
}
.study{
  box-shadow: 12px 10px 25px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 12px 10px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 12px 10px 25px 0px rgba(0,0,0,0.75);
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 559px;
  background-image: url("/resources/images/study.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.study_programm{
  margin: 0 auto 20px auto;
  text-align: center;
  max-width: 80%;
  font-weight: 700;
  font-size: 40px;
}
.china{
  margin: 0px auto 20px auto;
  text-align: center;
  max-width: 80%;
  font-weight: 100;
  font-size: 16px;
}
.study_button{
  padding: 15px;
  margin: 0 auto 70px auto;
  text-align: center;
  max-width: 30%;
  border-radius: 10px;
  color: rgba(17, 34, 17, 1);
  background-color: rgba(134, 199, 239, 1);
  font-weight: 700;
  font-size: 14px;
}
/* Оставление заявки */
.record{
  margin: 100px auto 0px auto;
  border-radius: 15px;
  max-width: 80%;
  background-image: url("/resources/images/record_bg.png");
  height: 441px;
  box-shadow: 40px 30px 0px 0px #608CA7;
  background-size: cover;
  display: flex;
}
.record_text{
  padding-left: 70px;
  max-width: 40%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;

}
.free_consult{
  text-shadow: 1px 3px 6px #000000;
  font-weight: 700;
  font-size: 36px;
}
.we_call{
  font-weight: 100;
  font-size: 20px;  
}
.record_forms{
  margin: auto auto;
  display: flex;
  gap: 30px;
  flex-direction: column;
  color: white;
}
.name{
  padding: 12px;
  font-size: 26px;
  font-weight: 400; 
  color: white;
  border: white 2px solid;
  border-radius: 15px;
  background: none;
}
.number{
  padding: 12px;
  font-size: 26px;
  font-weight: 400; 
  color: white;
  border: white 2px solid;
  border-radius: 15px;
  background: none;
}
.send_record{
  font-weight: 700;
  font-size: 26px;
  padding: 15px;
  color: black;
  background-color: #D9D9D9;
  border-radius: 15px;

}
.personal_info{
  font-weight: 100;
  font-size: 11px;
}
.personal_info span{
  color: #75C8FB;
}
::-webkit-input-placeholder { /* WebKit browsers */
  color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: white;
}

/* Партнёры */
.partners{
  margin: 0 auto;
  max-width: 80%;
  margin-top: 200px;
}
.partners_first{
  align-items: center;
  display: flex;
  gap: 15px;
  color: #86C7EF;
}
.partners_hr{
  height: 4px;
  width: 150px;
  border: none;
  background: #86C7EF;
}
.partners_text{
  font-weight: 700;
  font-size: 30px;

}
.partners_second{
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 150px;
}
.big_logo{

}
.partners_button{
  font-weight: 500;
  font-size: 26px;
  padding: 15px;
  max-height: 60px;
  background: none;
  color: #86C7EF;
  border: #86C7EF 2px solid;
  border-radius: 15px;
}
/* Подвал */
.footer{
  margin-top: 150px;  
  padding: 30px;
  font-family: "DM Sans", sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #86C7EF;
}
.tvu_logo{
  max-height: 100px;
  width: 100px;
}
.footer_text{
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 18px;
  color: black;
}
.footer_number{
  font-size: 15px;
  font-weight: 600; 
}
.footer_2024{
  font-size: 15px;
}
a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a{
  text-decoration: none;
  color: white;
}
.footer_a:active,
.footer_a:hover,
.footer_a{
  text-decoration: none;
  color: black;
}