@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-style: 100%;
    line-height: 1;
    font-style: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  html {
    scroll-behavior: smooth;
  }
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style-type: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-style: inherit;
    font-weight: 400;
  }
  /*__________________________*/
  body{
    color: white;
    font-family: "Ubuntu", sans-serif;
  }
  /* Блок 1 */
.first{
  display: flex;
  justify-content: center;
    position: relative;
    min-height: 600px;
    margin: 30px auto 0 auto;
    background-image: url("/resources/images/bg1.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 90%;
    border-radius: 15px;
}
header ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}
.block1_text{
    margin-top: 70px;
    text-align: center;
}
.tour_operator{
    font-weight: 400;
    font-size: 18px;
}
.ll_tours{
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 48px;
}
.specials{
    margin-bottom: 40px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
}

.about_us{
  position: absolute;
  bottom: -20%;
  padding: 30px;
  font-family: "DM Sans", sans-serif;
  max-width: 90%;
  margin: 0 auto;
  color: black;
  border-radius: 15px;
  background-color: white;
}
.p_about{
  margin-top: 10px;
  font-weight: 400;
  font-size: 20px;
}
.about_hr{
  margin-top: 15px;
  height: 4px;
  width: 100px;
  border: none;
  background: rgba(134, 199, 239, 1);
}
.we_ll{
  margin-top: 15px;
  font-weight: 700;
  font-size: 38px;
}
.about_text{
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
}
/* Блок 2 */
.second{
  display: flex;
  margin: 200px auto 0 auto;
  max-width: 80%;
  font-family: "DM Sans", sans-serif;
  justify-content: space-evenly;
  color: black;
}
.second_img{
  width: 50%;
  height: auto;
}
.all_tours_img{
  max-width: 100%;
  border-radius: 15px;
}
.second_text{
  padding-left: 30px;
  width: 50%;
}
.all_tours{
  font-weight: 700;
  font-size: 36px;
}
.uniqe_chance{
  margin-top: 10px;
  font-weight: 100;
  font-size: 20px;
}
.second_button{
  margin-top: 25px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: rgba(134, 199, 239, 1);
  border-radius: 15px;
  padding: 10px 20px;
  border: rgba(134, 199, 239, 1) 3px solid;
  background-color: white;
}
/* Блок 3 */
.third{
  margin-top: 90px;
  display: flex;
  justify-content: space-around;
}
.academ{
  border: black 1px solid;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 591px;
  background-image: url("/resources/images/academ.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.academ_programm{
  margin: 0 auto 20px auto;
  text-align: center;
  max-width: 80%;
  font-weight: 700;
  font-size: 40px;
}
.for_russian{
  margin: 0px auto 20px auto;
  text-align: center;
  max-width: 80%;
  font-weight: 100;
  font-size: 16px;
}
.academ_button{
  padding: 15px;
  margin: 0 auto 70px auto;
  text-align: center;
  max-width: 30%;
  border-radius: 10px;
  color: rgba(17, 34, 17, 1);
  background-color: rgba(134, 199, 239, 1);
  font-weight: 700;
  font-size: 14px;
}

